html {
	--color: #EEE;
	--color2: #EEE9;
	--background: #1118;
	--bg2: #0008;
	--hover: #FFF1;
}
.box .icon {
	background: hsl(var(--color), 100%, 80%);
	color: hsl(var(--color), 100%, 28%);
}
.hostedby {
	color: #FFF7;
}
.hostedby b {
	color: #79F;
}