html {
	--color: #EEE;
	--background: #1118;
	--bg2: #0008;
	--hover: #FFF1;
}
.box .icon {
	background: hsl(var(--color), 100%, 80%);
	color: hsl(var(--color), 100%, 28%);
}
.setting:hover {
	background: #2228;
}
.setting.checked {
	background: #36F;
	box-shadow: 2px 2px 8px #36F8;
}
.hostedby {
	color: #FFF7;
	margin: 12px 0 24px;
}
.hostedby b {
	color: #79F;
}