@import url(../fonts/fonts.css);

@import url(Flags/Flags.css);
@import url(Background.css);
@import url(Pages/Pages.css);


body {
	background: #000;
	color: var(--color);
	margin: 0;
	font-family: Quicksand;
	font-weight: bold;
	user-select: none;
	font-size: 14px;
	-webkit-tap-highlight-color: transparent;
}

* {
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}