@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	font-weight: 500;
	src: url(../font/MaterialSymbolsRounded.woff2) format('woff2');
}

html {
	--color: #222;
	--color2: #2229;
	--background: #EEE8;
	--bg2: #FFF8;
	--hover: #0001;
	--scale-factor: 1.15;
}

body {
	background: #000;
	color: var(--color);
	margin: 0;
	font-family: Quicksand;
	font-weight: bold;
	user-select: none;
	font-size: 14px;
	-webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
	display: none;
}
a {
	color: #68F;
}
.init * {
	transition: none !important;
}
.init .page {
	transition: opacity .3s, top .3s !important;
}
.icon {
	font-family: 'Material Symbols Rounded';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
#background img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
	transition: transform .4s, opacity .4s !important;
}
#background.scaled img {
	transform: scale(var(--scale-factor));
}
#background.dark > img:first-child {
	opacity: 0;
	transform: none;
}
#background:not(.dark) > img:last-child {
	opacity: 0;
	transform: none;
}
#background.dark:not(.scaled) > img:first-child {
	transform: scale(var(--scale-factor));
}
#background:not(.dark):not(.scaled) > img:last-child {
	transform: scale(var(--scale-factor));
}
.unloaded {
	opacity: 0;
	transform: scale(1) !important;
}

.main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.appicon {
	width: 192px;
	height: 192px;
	object-fit: cover;
}
.page {
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
	max-width: 920px;
	height: 100vh;
	transform: translateX(-50%);
	overflow-y: scroll;
	transition: top .4s, opacity .4s, visibility .4s, color .3s;
}
.home.page {
	top: 50%;
	left: 50%;
	width: 100%;
	height: auto;
	overflow: hidden;
	transform: translate(-50%, -50%);
}
.page.hidden {
	top: 240px;
	visibility: hidden;
	opacity: 0;
}
.home.page.hidden {
	top: calc(50% - 64px);
}
.wrapper {
	box-shadow: 2px 2px 8px #0003;
	background: var(--background);
	padding: 3px;
	backdrop-filter: blur(16px);
	border-radius: 24px;
	margin: -4px 12px 16px;
	text-align: center;
	overflow: hidden;
	min-width: 340px;
	transition: background .2s;
}
.home .wrapper {
	box-shadow: none;
	background: transparent;
	backdrop-filter: none;
}

.appname {
	font-size: 48px;
}
.appdesc {
	opacity: .6;
	margin: 2px 12px;
}
.source {
	opacity: 1;
	color: var(--color2);
}
.appname.about {
	font-size: 36px;
}
.buttons {
	box-shadow: 2px 2px 8px #0002;
	display: flex;
	margin: 16px auto 0;
	backdrop-filter: blur(16px);
	border-radius: 24px;
	max-width: 480px;
	background: var(--background);
	padding: 2px;
	justify-content: space-between;
	transition: background .3s;
}
.buttons > div {
	padding: 16px;
	margin: 2px;
	cursor: pointer;
	border-radius: 20px;
	width: 100%;
	transition: background .2s;
}
.buttons > div:hover {
	background: var(--hover);
}
.buttons .text {
	margin-top: -2px;
}

.back {
	box-shadow: 2px 2px 8px #0002;
	position: relative;
	width: 64px;
	height: 64px;
	border-radius: 24px;
	background: var(--background);
	margin: 20px;
	backdrop-filter: blur(16px);
	transition: background .2s;
}

.back .icon {
	margin: 4px;
	width: 56px;
	height: 56px;
	cursor: pointer;
	border-radius: 20px;
	transition: background .2s;
}
.back .icon:hover {
	background: var(--hover);
}
.back .icon:after {
	content: "chevron_left";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.boxes {
	display: flex;
	flex: 1 1 0;
	flex-wrap: wrap;
}
.static {
	margin: 16px 6px;
}
.static .box:hover {
	background: transparent;
}
.box {
	min-width: 292px;
	flex: 1;
	margin: 2px;
	border-radius: 20px;
	padding: 8px;
	display: flex;
	align-items: center;
	text-align: left;
	text-decoration: none;
	color: inherit;
	transition: background .2s;
}
.box:hover {
	background: var(--hover);
}
.box .icon {
	font-size: 24px;
	padding: 20px;
	background: hsl(var(--color), 100%, 89%);
	color: hsl(var(--color), 100%, 35%);
	border-radius: 100px;
	margin: 2px 12px 2px 2px;
}
a.box {
	cursor: pointer;
	padding: 14px;
}
.box img {
	width: 64px;
	height: 64px;
	object-fit: cover;
	margin-right: 12px;
}
.box .name {
	font-size: 18px;
}
.box .desc {
	opacity: .6;
}
.header {
	display: flex;
	align-items: center;
	margin: 20px 20px 16px;
}
.header .icon {
	margin-top: 1px;
	margin-right: 10px;
}
.header .text {
	font-size: 26px;
}

.selector {
	position: relative;
	background: var(--bg2);
	margin: 18px auto;
	border-radius: 16px;
	display: flex;
	align-items: center;
	overflow: hidden;
	width: calc(100% - 32px);
	max-width: 640px;
	transition: background .2s;
}
.selector .bg {
	position: absolute;
	width: calc(100% / var(--screens) - 8px);
	height: calc(100% - 8px);
	background: var(--hover);
	top: 50%;
	left: 0;
	margin-left: 4px;
	border-radius: 12px;
	transform: translateY(-50%);
	transition: background .4s, left .3s;
}
.selector .entry {
	margin: 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 14px;
	margin: 2px;
	z-index: 1;
	cursor: pointer;
}
.selector .entry > div {
	margin: 0 auto;
}

.split {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: right;
	padding: 96px 24px 68px;
	max-width: 480px;
	margin: 0 auto;
}
.split .fancy {
	font-size: 80px;
}
.split .pp > b {
	font-size: 48px;
	margin-right: 2px;
}
.split .text {
	max-width: 240px;
	margin-left: auto;
	opacity: .6;
}
.split .right {
	margin-right: 8px;
}

.screens {
	display: flex;
	width: calc(100% * var(--screens));
	align-items: flex-start;
	transition: transform .4s, height .4s;
}
.screen {
	width: 100%;
	height: auto;
}
.screen.hidden {
	height: 0;
}

.settings {
	margin: 12px 16px 32px;
}
.setting {
	background: var(--bg2);
	max-width: 640px;
	border-radius: 16px;
	margin: 8px auto;
	display: flex;
	align-items: center;
	padding: 12px;
	text-align: left;
	cursor: pointer;
	transition: background .2s, box-shadow .2s, color .2s;
}
.setting:hover {
	background: #DDD8;
}
.setting .icon {
	margin-right: 8px;
	padding: 12px;
}
.setting .desc {
	opacity: .6;
}
.setting.checked {
	color: #EEE;
	background: #56F;
}
.hostedby {
	font-size: 13px;
	color: #0007;
	margin: 18px 0 20px;
}
.hostedby b {
	color: #56F;
}
.warn {
	margin: 8px 0;
	color: #F60;
}
.none {
	display: none;
}