.page {
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
	max-width: 920px;
	height: 100vh;
	transform: translateX(-50%);
	overflow-y: scroll;
	transition: top .4s, opacity .4s, visibility .4s, color .3s;
}

.page:not(.current) {
	top: 240px;
	visibility: hidden;
	opacity: 0;
}

.wrapper {
	box-shadow: 2px 2px 8px #0003;
	background: var(--background);
	padding: 3px;
	backdrop-filter: var(--blur);
	border-radius: 24px;
	margin: -4px 12px 16px;
	text-align: center;
	overflow: hidden;
	min-width: 340px;
	transition: background .2s;
}

.back {
	box-shadow: 2px 2px 8px #0002;
	position: relative;
	width: 64px;
	height: 64px;
	border-radius: 24px;
	background: var(--background);
	margin: 20px;
	backdrop-filter: var(--blur);
	transition: background .2s;
}

.back i {
	margin: 4px;
	width: 56px;
	height: 56px;
	cursor: pointer;
	border-radius: 20px;
	transition: background .2s;
}

.back i:hover {
	background: var(--hover);
}

.back i:after {
	content: "chevron_left";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header {
	display: flex;
	align-items: center;
	margin: 20px 20px 16px;
}

.header i {
	margin-top: 1px;
	margin-right: 10px;
}

.header .text {
	font-size: 26px;
}
