# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & compiled frontend
node_modules
dist
dist-ssr
*.local

# Backend data
backend/webserver/dist
backend/config.yaml
backend/res

# Compiled backend code
backend/tmp
backend/honey

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
