@import "@fontsource/quicksand";
@import 'material-symbols';

html, body {
	user-select: none;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
	overflow: hidden;
	scrollbar-width: none;
	-webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
	display: none;
}

button, input {
	padding: 0;
	margin: 0;
	display: block;
	width: stretch;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	border: none;
	text-align: left;
	outline: none;
	background: none;
}

input {
	background: #8883;
	border-radius: 32px;
	padding: 12px 14px;
	font-size: 0.9rem;
	transition: all .2s;
}

input:focus {
	background: #8885;
}

button {
	cursor: pointer;
}

main {
	--transition-duration: 200ms;
}
main.animefast {
	--transition-duration: 125ms;
}
main.animeslow {
	--transition-duration: 300ms;
}

main.noanime * {
	transition: none !important;
}
main.noanime *::before {
	transition: none !important;
}
main.noanime *::after {
	transition: none !important;
}

main.noblur * {
	backdrop-filter: none !important;
}
