button, input {
	padding: 0;
	margin: 0;
	display: block;
	width: stretch;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	border: none;
	text-align: left;
	outline: none;
	background: none;
}

button {
	cursor: pointer;
}

main {
	--transition-duration: 200ms;
}
main.animefast {
	--transition-duration: 125ms;
}
main.animeslow {
	--transition-duration: 300ms;
}

main.noanime * {
	transition: none !important;
}
main.noanime *::before {
	transition: none !important;
}
main.noanime *::after {
	transition: none !important;
}

main.noblur * {
	backdrop-filter: none !important;
}
