body.dark {
	--color: #EEE;
	--color2: #EEE6;
	--background: #1118;
	--bg2: #0008;
	--hover: #FFF1;
}

body.dark #theme-switcher i::before {
	--hidden: 1;
}

body.dark #theme-switcher i::after {
	--hidden: 0;
}
